/* Global container */
.container {
  padding: 30px;
  font-family: "Poppins", Arial, sans-serif;
  background: #ffffff;
  min-height: 100vh;
}

/* Page title */
h2 {
  color: #1a1a1a;
  font-weight: 600;
  margin-bottom: 25px;
  font-size: 28px;
}

/* Search bar section */
.search-bar {
  margin-bottom: 25px;
}

.search-input {
  padding: 12px 15px;
  width: 350px;
  font-size: 15px;
  border: 1px solid #d0d4dc;
  border-radius: 10px;
  outline: none;
  transition: 0.2s ease-in-out;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.05);
}

.search-input:focus {
  border-color: #4c7df0;
  box-shadow: 0 0 6px rgba(76, 125, 240, 0.3);
}

/* Product table */
.product-table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.08);
}

.product-table th {
  background: #ba128b;
  padding: 14px;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: start;
}

.product-table th td {
  text-align: start;

}

.product-table td {
  padding: 14px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 15px;
  color: #444;
}

.product-table tr:hover td {
  background: #f9fbff;
}

/* Last row */
.product-table tr:last-child td {
  border-bottom: none;
}

/* No results message */
.no-results {
  color: #ff4c4c;
  font-style: italic;
  margin-top: 10px;
  font-size: 15px;
}


.actions {
  text-align: start;
}





.btn-edit {
  border: 1px solid #6366f1;
  color : #6366f1;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 4px;
  border-radius: 6px;
  transition: all 0.2s;
  background-color: white;
}

.btn-edit:hover {
  background: #6366f1;
  color: white;
  
}


.btn-delete {
  border: 1px solid red;
  color : red;
  font-size: 1rem;
  cursor: pointer;
  padding: 6px 10px;
  margin: 0 4px;
  border-radius: 6px;
  transition: all 0.2s;
  background-color: white;
}

.btn-delete:hover {
  background: red;
  color: white;
}